---
ignore: |
  tests/
  molecule/
  .github/
  .gitlab-ci.yml
  *molecule.yml

extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  indentation:
    indent-sequences: consistent
    level: error
  line-length: disable
  key-duplicates: enable
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  trailing-spaces: enable
  truthy:
    allowed-values: ['true', 'false']
    check-keys: true
