---

- name: "MEDIUM | RHEL-07-040810 | AUDIT | The Red Hat Enterprise Linux operating system access control program must be configured to grant or deny system access to specific hosts and services."
  ansible.builtin.shell: firewall-cmd --get-default-zone
  register: rhel_07_040810_firewalld_zone_audit
  changed_when: false
  failed_when: false
  when:
      - rhel7stig_start_firewall_service
  tags:
      - RHEL-07-040810
      - firewall

- name: "MEDIUM | RHEL-07-040810 | AUDIT | The Red Hat Enterprise Linux operating system access control program must be configured to grant or deny system access to specific hosts and services."
  ansible.builtin.shell: firewall-cmd --list-all --zone="{{ rhel_07_040810_firewalld_zone_audit.stdout }}"
  register: rhel_07_040810_firewalld_zone_default_audit
  changed_when: false
  when:
      - rhel_07_040810_firewalld_zone_audit.stdout | length > 0
      - rhel7stig_start_firewall_service
  tags:
      - RHEL-07-040810
      - firewall
- name: "MEDIUM | RHEL-07-040810 | AUDIT | The Red Hat Enterprise Linux operating system access control program must be configured to grant or deny system access to specific hosts and services."
  ansible.builtin.debug:
      msg: "The following task output is the firewalld settings for zone {{ rhel_07_040810_firewalld_zone_audit.stdout }} from {{ ansible_hostname }}:"
  when:
      - rhel_07_040810_firewalld_zone_audit.stdout | length > 0
      - rhel7stig_start_firewall_service
  tags:
      - RHEL-07-040810
      - firewall
- name: "MEDIUM | RHEL-07-040810 | AUDIT | The Red Hat Enterprise Linux operating system access control program must be configured to grant or deny system access to specific hosts and services."
  ansible.builtin.debug: var=rhel_07_040810_firewalld_zone_default_audit.stdout_lines
  changed_when: true
  when:
      - rhel_07_040810_firewalld_zone_audit.stdout | length > 0
      - rhel7stig_start_firewall_service
  tags:
      - RHEL-07-040810
      - firewall
- name: "MEDIUM | RHEL-07-040810 | AUDIT | The Red Hat Enterprise Linux operating system access control program must be configured to grant or deny system access to specific hosts and services."
  ansible.builtin.debug:
      msg: "Warning!! We could pull no configured rules for {{ rhel7stig_firewall_service }} on {{ ansible_hostname }}! This is a finding per RHEL-07-040810 - The Red Hat Enterprise Linux operating system access control program must be configured to grant or deny system access to specific hosts and services."
  changed_when: true
  when:
      - rhel_07_040810_firewalld_zone_audit.stdout | length == 0
      - rhel7stig_start_firewall_service
  tags:
      - RHEL-07-040810
      - firewall
