---
- name: Gather distribution info
  setup:
    gather_subset: distribution,!all,!min
  when:
  - ansible_distribution is not defined
  tags:
  - always

- name: Check OS version and family
  assert:
      that: ansible_os_family == 'RedHat' and ansible_distribution_major_version is version_compare('7', '==')
      msg: "This role can only be run against RHEL/CENTOS 7. {{ ansible_distribution }} {{ ansible_distribution_major_version }} is not supported."
  tags:
  - always

- name: Check ansible version
  assert:
      that: ansible_version.full is version_compare(rhel7stig_min_ansible_version, '>=')
      msg: You must use Ansible {{ rhel7stig_min_ansible_version }} or greater
  tags:
  - always

- name: Check rhel7stig_bootloader_password_hash variable has been changed
  assert:
    that: rhel7stig_bootloader_password_hash != 'changethispassword'
    msg: "This role will not be able to run single user password commands as rhel7stig_bootloader_password_hash variable has not been set"
  when:
  - rhel_07_010480 or
    rhel_07_010490 or
    rhel_07_010482 or
    rhel_07_010491
  tags:
  - RHEL-07-010480
  - RHEL-07-010482
  - RHEL-07-010490
  - RHEL-07-010491
  - cat1

- import_tasks: prelim.yml
  become: yes
  tags:
  - prelim_tasks

- name: Gather the package facts
  package_facts:
    manager: auto
  tags:
  - always

- name: Include CAT I patches
  import_tasks: fix-cat1.yml
  when: rhel7stig_cat1_patch
  tags:
  - cat1
  - high

- name: Include CAT II patches
  import_tasks: fix-cat2.yml
  when: rhel7stig_cat2_patch
  tags:
  - cat2
  - medium

- name: Include CAT III patches
  import_tasks: fix-cat3.yml
  when: rhel7stig_cat3_patch 
  tags:
  - cat3
  - low